.general {
  padding: 12px 21px 44px;
  flex-grow: 1;
  @media (min-width: 1000px) {
    max-width: 977px;
    margin: 0 auto;
    position: relative;
  }
  &:first-child{
    @media (min-width: 1000px) {
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;

    margin-bottom: 20px;
    @media (min-width: 1000px) {
      width: 250px;
      font-size: 32px;
      line-height: 50px;
      margin-bottom: 32px;
    }
  }

  &__hiring{
    @media (min-width: 1000px) {

    }
  }

  &__box{
    display: flex;
  }
}

.hiring {
  &__list{
    @media (min-width: 1000px) {
      width: 250px;
      margin-right: 57px;
    }
  }

  &__item{
    background-color: var(--bg-items);
    border-radius: 13px;
    margin-bottom: 5px;
    @media (min-width: 1000px) {
      background-color: transparent;
      border-top: 1px solid rgba(255,255,255, 0.5);
      border-radius: 0;
      margin-bottom: 0px;
    }
  }

  &__title--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 21px 17px;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    background: none;
    border: 0;

    @media (min-width: 1000px) {
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      padding: 20px 0;
      opacity: 0.5;
      text-align: left;
    }
  }
  &__title--arrow{
    transform: rotateX(0deg);
  }
}

.rotate {
  transform: rotateX(180deg);
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    flex-grow: 1;
  }

  &__footer{
    display: none;

    @media (min-width: 1000px) {
      width: 100%;
      display: block;
      background-color: var(--bg-items);
    }
  }
}


.footer__container{
  @media (min-width: 1000px) {
    max-width: 977px;
    margin: 0 auto;
    padding: 46px 7px 40px;
  }
}
