.general {
  padding: 12px 21px 44px;
  flex-grow: 1;
  @media (min-width: 1000px) {
    max-width: 977px;
    margin: 0 auto;
    position: relative;
  }
  &:first-child{
    @media (min-width: 1000px) {
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;

    margin-bottom: 20px;
    @media (min-width: 1000px) {
      width: 250px;
      font-size: 32px;
      line-height: 50px;
      margin-bottom: 32px;
    }
  }

  &__hiring{
    @media (min-width: 1000px) {

    }
  }
}

.hiring {
  &__list{
    @media (min-width: 1000px) {
      width: 250px;
    }
  }

  &__item{
    background-color: var(--bg-items);
    border-radius: 13px;
    margin-bottom: 5px;
    @media (min-width: 1000px) {
      background-color: transparent;
      border-top: 1px solid rgba(255,255,255, 0.5);
      border-radius: 0;
      margin-bottom: 0px;
    }
  }

  &__title--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 21px 17px;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    background: none;
    border: 0;

    @media (min-width: 1000px) {
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      padding: 20px 0;
      opacity: 0.5;
      text-align: left;
    }
  }
  &__title--arrow{
    transform: rotateX(0deg);
  }

  &__wrapper {
    padding: 18.5px 17px 0;
    border-bottom: 1px solid var(--item-border);
    @media (min-width: 1000px) {
      padding: 30px 35px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 13px;
    @media (min-width: 1000px) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 17px;
    }
  }

  &__description{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;

    color: var(--text-secondary);

    margin-bottom: 10px;
    @media (min-width: 1000px) {
      margin-bottom: 12px;
    }
  }

  &__responsibilities{
    margin-bottom: 5px;
    @media (min-width: 1000px) {
      margin-bottom: 15px;
    }
  }

  &__skills{
    font-weight: 700;
    font-size: 12px;
    line-height: 36px;
    margin-bottom: 2px;

    @media (min-width: 1000px) {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  &__needs {
    margin-bottom: 19px;
  }

  &__container {
    padding: 15px 25px 30px;
    @media (min-width: 1000px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 36px 33px;
    }
  }

  &__contact{
    font-size: 10px;
    line-height: 18px;
    color: var(--text-secondary);
    margin-bottom: 25px;
    text-align: center;
    @media (min-width: 1000px) {
      width: 225px;
      text-align: start;
      font-size: 8px;
      margin-bottom: 0;
    }
  }

  &__mail{
    text-decoration-line: underline;
    color: var(--text-tertiary);

  }

  &__btn{
    display: block;
    width: 160px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 14px;
    border-radius: 13px;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 10px;
    text-align: center;
    color: var(--text-btn-contactus);
    background: var(--bg-btn-gradient);
    @media (min-width: 1000px) {
      margin: 0;
    }
  }
}

.responsibilities {
  &__item{
    margin-left: 20px;
    list-style: disc;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: var(--text-secondary);
    margin-bottom: 5px;

    @media (min-width: 1000px) {
      font-size: 12px;
      line-height: 30px;
    }
  }
}

.needs {
  &__item{
    margin-left: 20px;
    list-style: disc;
    font-size: 12px;
    line-height: 30px;
    color: var(--text-secondary);

  }
}

.card__info{
  border-top: 1px solid var(--item-border);
  margin-bottom: 20px;
  @media (min-width: 1000px) {
    position: absolute;
    right: 0;
    top: 92px;
    width: 670px;
    display: flex;
    border-radius: 20px;
    border: 1px solid var(--item-border);
    background-color: var(--bg-items);
  }
}

.card__img{
    display: none;

  @media (min-width: 1000px) {
    display: block;
    background-image: url(/assets/Frame.png);
    width: 149px;
    height: 680px;
    border-right: 1px solid var(--item-border);
  }
}

.card__box {
  @media (min-width: 1000px) {
    width: 521px;
  }
}


.rotate {
  transform: rotateX(180deg);
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page__body {
  flex-grow: 1;
}

.page__footer{
  display: none;

  @media (min-width: 1000px) {
    display: block;
    max-width: 977px;
    margin: 0 auto;
    background-color: var(--bg-items);
    padding: 46px 7px 40px;
  }
}

