<button class="navigation__btn" type="button" *ngIf="!isVisibleMenu" (click)="toggleMenu()">
  <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1H16M1 7H16" stroke="white" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round"/>
  </svg>
</button>

<div class="backdrop" *ngIf="isVisibleMenu"></div>

<div class="navigation" *ngIf="isVisibleMenu">
    <div class="navigation__logo">
      <app-logo></app-logo>
    </div>
    <nav class="navigation__pages">
      <ul>
        <li *ngFor="let link of navLinks" class="navigation__pages--item">
          <a [href]="'/'+ link">{{ link | titlecase}}</a>
        </li>
      </ul>
    </nav>
    <ul class="navigation__auth">
      <li class="navigation__auth--item">
        <a href="/" class="btn btn--dark" >membership
          <span class="btn__arrow btn__arrow--light">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
        </a>
      </li>
      <li class="navigation__auth--item">
        <a [routerLink]="['/general']" class="btn btn--light" (click)="login()">login
          <span class="btn__arrow btn__arrow--dark">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L7 7L1 1" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </span>
        </a>
      </li>
    </ul>
    <app-sub-info></app-sub-info>
    <p class="copyright">© Copyright 2022 - Xtrades. All rights reserved.</p>
</div>




