.status__bar {
  margin-top: 17px;
  margin-left: 33px;
  margin-bottom: 17px;
  height: 14px;

  @media (min-width: 376px) {
    display: none;
  }
}
.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  height: 100vh;

  &__menu {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  &__body{
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
}
