//.logo {
//  position: relative;
//}
//
//.logo__background {
//  display: flex;
//  justify-content: center;
//}
//
.logo__text {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//
  &--xs {
    width: 77px;
    height: 22px;
  }
  &--s {
    width: 84.88px;
    height: 24px;
  }
  &--m {
    width: 110px;
    height: 31.1px;
  }
  &--l {
    width: 141.46px;
    height: 40px;
  }
}
