.logo {
  display: flex;
  align-items: center;

  &__image{
    margin-right: 8px;
  }
}

.logo__text {
  &--xs {
    width: 77px;
    height: 22px;
  }
  &--s {
    width: 84.88px;
    height: 24px;
  }
  &--m {
    width: 110px;
    height: 31.1px;
  }
  &--l {
    width: 141.46px;
    height: 40px;
  }
}
